In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# read data: "BDA_final.csv"
df = pd.read_csv("df_all_stocks.csv")
df

,Unnamed: 0,date,tic,open,high,low,close,volume,day,macd,...,cci_30,dx_30,close_30_sma,close_60_sma,EFFR,DTB3,T10YIE,DGS10,GC=F,CL=F
0,0,2008-01-02,AAL,14.550000,14.580000,13.250000,12.557316,3.908000e+06,2.0,0.000000,...,-66.666667,100.000000,12.557316,12.557316,4.11,3.18,2.32,3.91,857.000000,99.620003
1,1,2008-01-02,AAPL,7.116786,7.152143,6.876786,5.914389,1.079179e+09,2.0,0.000000,...,-66.666667,100.000000,5.914389,5.914389,4.11,3.18,2.32,3.91,857.000000,99.620003
2,2,2008-01-02,ADBE,42.900002,43.250000,41.450001,41.709999,6.047700e+06,2.0,0.000000,...,-66.666667,100.000000,41.709999,41.709999,4.11,3.18,2.32,3.91,857.000000,99.620003
3,3,2008-01-02,ADI,31.190001,31.510000,30.320000,20.630955,3.838200e+06,2.0,0.000000,...,-66.666667,100.000000,20.630955,20.630955,4.11,3.18,2.32,3.91,857.000000,99.620003
4,4,2008-01-02,ADP,39.069359,39.209831,37.866550,25.882978,3.027576e+06,2.0,0.000000,...,-66.666667,100.000000,25.882978,25.882978,4.11,3.18,2.32,3.91,857.000000,99.620003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298141,432678,2022-12-30,VRTX,288.670013,289.320007,284.399994,288.779999,1.030700e+06,4.0,-6.328493,...,-128.175678,39.282233,307.284333,305.007501,4.33,4.30,2.30,3.88,1819.699951,78.959999
298142,432679,2022-12-30,WBA,37.240002,37.380001,36.970001,36.319645,5.406200e+06,4.0,-0.449435,...,-170.635561,26.863815,38.956771,36.598714,4.33,4.30,2.30,3.88,1819.699951,78.959999
298143,432680,2022-12-30,WDC,31.110001,31.570000,30.860001,31.549999,2.631900e+06,4.0,-1.314194,...,-90.728031,18.612473,34.236333,34.854333,4.33,4.30,2.30,3.88,1819.699951,78.959999
298144,432681,2022-12-30,WYNN,80.169998,82.660004,80.099998,82.470001,1.614700e+06,4.0,1.206573,...,-4.665858,14.370133,82.011000,73.378500,4.33,4.30,2.30,3.88,1819.699951,78.959999
298145,432682,2022-12-30,XEL,70.900002,71.070000,69.510002,69.551697,1.597000e+06,4.0,0.745234,...,46.404317,8.913340,68.844400,65.630545,4.33,4.30,2.30,3.88,1819.699951,78.959999

In [15]:
# drop the column "Unnamed: 0"
df = df.drop(columns = ["Unnamed: 0"])

In [16]:
df

,date,tic,open,high,low,close,volume,day,macd,boll_ub,...,cci_30,dx_30,close_30_sma,close_60_sma,EFFR,DTB3,T10YIE,DGS10,GC=F,CL=F
0,2008-01-02,AAL,14.550000,14.580000,13.250000,12.557316,3.908000e+06,2.0,0.000000,13.074436,...,-66.666667,100.000000,12.557316,12.557316,4.11,3.18,2.32,3.91,857.000000,99.620003
1,2008-01-02,AAPL,7.116786,7.152143,6.876786,5.914389,1.079179e+09,2.0,0.000000,13.074436,...,-66.666667,100.000000,5.914389,5.914389,4.11,3.18,2.32,3.91,857.000000,99.620003
2,2008-01-02,ADBE,42.900002,43.250000,41.450001,41.709999,6.047700e+06,2.0,0.000000,13.074436,...,-66.666667,100.000000,41.709999,41.709999,4.11,3.18,2.32,3.91,857.000000,99.620003
3,2008-01-02,ADI,31.190001,31.510000,30.320000,20.630955,3.838200e+06,2.0,0.000000,13.074436,...,-66.666667,100.000000,20.630955,20.630955,4.11,3.18,2.32,3.91,857.000000,99.620003
4,2008-01-02,ADP,39.069359,39.209831,37.866550,25.882978,3.027576e+06,2.0,0.000000,13.074436,...,-66.666667,100.000000,25.882978,25.882978,4.11,3.18,2.32,3.91,857.000000,99.620003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298141,2022-12-30,VRTX,288.670013,289.320007,284.399994,288.779999,1.030700e+06,4.0,-6.328493,328.456194,...,-128.175678,39.282233,307.284333,305.007501,4.33,4.30,2.30,3.88,1819.699951,78.959999
298142,2022-12-30,WBA,37.240002,37.380001,36.970001,36.319645,5.406200e+06,4.0,-0.449435,41.118872,...,-170.635561,26.863815,38.956771,36.598714,4.33,4.30,2.30,3.88,1819.699951,78.959999
298143,2022-12-30,WDC,31.110001,31.570000,30.860001,31.549999,2.631900e+06,4.0,-1.314194,37.389099,...,-90.728031,18.612473,34.236333,34.854333,4.33,4.30,2.30,3.88,1819.699951,78.959999
298144,2022-12-30,WYNN,80.169998,82.660004,80.099998,82.470001,1.614700e+06,4.0,1.206573,88.374679,...,-4.665858,14.370133,82.011000,73.378500,4.33,4.30,2.30,3.88,1819.699951,78.959999
298145,2022-12-30,XEL,70.900002,71.070000,69.510002,69.551697,1.597000e+06,4.0,0.745234,71.151730,...,46.404317,8.913340,68.844400,65.630545,4.33,4.30,2.30,3.88,1819.699951,78.959999

In [25]:
# I want to see the frequency of "tic"
fre_cnt = df["tic"].value_counts()
tmp = fre_cnt.to_frame()
pd.set_option('display.max_columns', None)
tmp.head(100)

       tic
AAL   3774
MSFT  3774
PAYX  3774
ORLY  3774
NVDA  3774
...    ...
EA    3774
DLTR  3774
CTSH  3774
CTAS  3774
XEL   3774

[79 rows x 1 columns]

In [18]:
df = df.sort_values(by=["tic", "date"])

In [19]:
df_tickets = df.groupby("tic")
for idx, df_ticket in df_tickets:
    #print(idx)
    #print(df_ticket)
    df_ticket.to_csv(f"./data/df_{idx}.csv", index=False)